<div class="padding15px">
    <div class="row">
        <div class="col-md-5">
            <h3>Add Post</h3>
            <hr>
            <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f.valid, f.value, password)">

                <div class="form-group" [ngClass]="{'has-error': !title.valid || title.pristine}">
                    <label for="title">Title: </label>
                    <input #title="ngModel" name="title" [(ngModel)]="model.title" placeholder="title ..." required type="text" class="form-control" id="title">
                </div>

                <div class="form-group" [ngClass]="{'has-error': !description.valid || (description.pristine && !f._submitted)}">
                    <label for="description">Description:</label>
                    <textarea #description="ngModel" name="description" [(ngModel)]="model.description" placeholder="description ..." minlength="5" required class="form-control" id="description">
                    </textarea>
                </div>

                <div class="margin-bottom20px">
                    <button type="submit" class="btn btn-primary"> 
                        {{isEdit ? 'Update' : 'Add +' }} 
                    </button>
                    <button type="button" class="btn btn-warning" (click)="clear();"> 
                        Clear
                    </button>
                </div>

            </form>

        </div>
        <div class="col-md-7">
            <h3>Posts</h3>
            <hr>
            <div *ngFor="let post of keys(posts$ | async); let i = index;">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div>
                                <h4 class="panel-title inlineblock">
                                    <a data-toggle="collapse" [href]="'#' + (posts$ | async)[post]['$key']"> {{(posts$ | async)[post]['title']}} </a>
                                </h4>
                                <span (click)="onModalPopupClick(post);" class="pull-right label" [ngClass]="{'label-warning': checkApplied(post) == 0, 'label-info': checkApplied(post) != 0  }" data-toggle="modal" data-target="#myModal">
                                    <i>Applied: {{checkApplied(post)}}</i>
                                </span>
                            </div>
                        </div>
                        <div [id]="(posts$ | async)[post]['$key']" class="panel-collapse collapse">
                            <div class="panel-body "> {{(posts$ | async)[post]['description']}} </div>
                            <div class="panel-footer">
                                <a class="fa fa-minus-circle fa-1x" data-placement="right" title="delete" data-original-title="FA-MINUS-CIRCLE"><i></i></a>
                                <a (click)="onEdit(post)" class="fa fa-pencil fa-1x" data-placement="right" title="pencil" data-original-title="FA-PENCIL"><i></i></a>
                                <a [href]="'#' + (posts$ | async)[post]['$key']" class="fa fa-chevron-up fa-1x" data-toggle="collapse" data-placement="right" title="collapse" data-original-title="FA-PLUS-CIRCLE"><i></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{popup.header}}</h4>
            </div>
            <div class="modal-body">
                <ul *ngFor="let student of popup.students">
                    <li data-dismiss="modal" [routerLink]="['/u',(members$ | async)[student]?.cuid]">
                        {{(members$ | async)[student]?.fname}} {{(members$ | async)[student]?.lname}}
                        <span class="text-info" style="display: block; text-indent: 20px;">
                            {{(members$ | async)[student]?.eml}}
                        </span>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>